<% if current_user.email == @user.email %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <%= "#{@user.chapter.name} - #{@user.chapter.chapter_name}" %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %>
<% else %>
  <% controller.redirect_to root_path %>
<% end %>
