<% if logged_in? %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h3>
        Welcome, <%= current_user.full_name %>!
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h6>Events Dashboard</h6>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="table-dark bg-primary">Event Name</th>
            <th class="table-dark bg-primary">Event Type</th>
            <th class="table-dark bg-primary">Date</th>
            <th class="table-dark bg-primary" colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% current_user.events.each do |event| %>
            <tr>
              <td><%= event.event.name %></td>
              <td><%= event.event.event_type %></td>
              <td><%= event.event.date %></td>
              <td><%= link_to 'Show', chapter_event_path(current_user.chapter, event.event), class: 'table btn' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>Welcome to Greek Manager!</h1>
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
