<% if current_user.chapter == @chapter %>
  <p id="notice"><%= notice %></p>

  <h1>Events</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-dark bg-primary">Type</th>
        <th class="table-dark bg-primary">Date</th>
        <th class="table-dark bg-primary">Name</th>
        <th class="table-dark bg-primary">Description</th>
        <th class="table-dark bg-primary">Notes</th>
        <th class="table-dark bg-primary" colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.event_type %></td>
          <td><%= event.date %></td>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.notes %></td>
          <% if AttendanceSignup.exists?(user: current_user, event: event) %>
            <td><%= link_to 'Cancel Sign Up', chapter_event_signup_path(@chapter, event), method: :delete, class: 'table btn' %></td>
          <% else %>
            <td><%= link_to 'Sign Up', chapter_event_signup_path(@chapter, event), class: 'table btn' %></td>
          <% end %>
          <td><%= link_to 'Show', chapter_event_path(@chapter, event), class: 'table btn' %></td>
          <td><%= link_to 'Edit', edit_chapter_event_path(@chapter, event), class: 'table btn' %></td>
          <td><%= link_to 'Destroy', chapter_event_path(@chapter, event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'table btn' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_chapter_event_path(@chapter), class: 'btn btn-success' %>
<% else %>
  <% controller.redirect_to root_path %>
<% end %>
