<%= form_with(model: chapter, local: true) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :chapter_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :chapter_name %>
  </div>

  <div class="field">
    <%= form.label :chapter_name %>
    <%= form.text_field :chapter_name, id: :chapter_chapter_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
