<p id="notice"><%= notice %></p>

<h1>Chapters</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Type</th>
      <th class="table-dark bg-primary">Name</th>
      <th class="table-dark bg-primary">Chapter name</th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.greek_type %></td>
        <td><%= chapter.name %></td>
        <td><%= chapter.chapter_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path, class: 'btn btn-success' %>
