<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @chapter.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Chapter name:</strong>
  <%= @chapter.chapter_name %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
